@import './mixins.scss';

.wrapper {
  margin-left: 10%;
  max-width: 550px;
  @include respond-to('laptop') {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% calc(60% - 60px);
    column-gap: 60px;
    max-width: 1420px;
  }
  @include respond-to('desktop') {
    width: calc(100% - 500px);
    column-gap: 100px;
    grid-template-columns: 40% calc(60% - 100px);
    align-items: center;
  }
  @include respond-to('widescreen') {
    margin: 0 auto;
  }
}

.grid {
  display: none;
  grid-template-columns: calc(70% - 20px) 30%;
  column-gap: 20px;
  height: 225px;
  margin-bottom: 20px;
  width: 100%;
  @include respond-to('laptop') {
    display: grid;
  }
  @include respond-to('widescreen') {
    height: 300px;
  }

  & > div {
    background-color: #333;
  }
}

.grid2 {
  grid-template-columns: 1fr 1fr;
}

.paragraph {
  @include respond-to('widescreen') {
    font-size: 1.125rem;
  }
}