@import './mixins.scss';

.wrapper {
  margin-left: 10%;
  max-width: 550px;
  @include respond-to('desktop') {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% calc(60% - 60px);
    column-gap: 60px;
    max-width: 100%;
  }
  @include respond-to('widescreen') {
    margin: 0 250px;
  }
}

.grid {
  display: none;
  grid-template-columns: 3fr 1fr;
  column-gap: 20px;
  height: 225px;
  margin-bottom: 20px;
  width: 100%;
  @include respond-to('desktop') {
    display: grid;
  }

  & > div {
    background-color: #333;
  }
}

.grid2 {
  grid-template-columns: 1fr 1fr;
}