@import './mixins.scss';

.contact {
  padding-top: 100px;
  margin-bottom: 100px;
  @include respond-to('tablet-large') {
    margin: 50px 0 150px;
  }
  @include respond-to('desktop') {
    margin: 100px 0 200px;
  }
}

.heading {
  @include respond-to('tablet-large') {
    margin-bottom: 80px;
  }
}