@import './mixins.scss';

.hero {
  position: relative;
  height: 100vh;
  min-height: 500px;
  width: 100%;
  background-color: #333;
  overflow: hidden;
}

.container {
  @include centered;
  color: white;
  width: 80%;
  max-width: 600px;
  @include respond-to('tablet-large') {
    left: 250px;
    transform: translateY(-50%);
  }
}

.heading {
  font-size: 2rem;
  margin-bottom: 50px;
  line-height: 1.25;
  @include respond-to('tablet-large') {
    font-size: 3rem;
  }
}

.button {
  display: block;
  position: relative;
  padding: 20px 30px;
  width: max-content;
  font-size: 1rem;
  letter-spacing: 1px;
  background-color: #ff0066;
  outline-width: 3px;
  outline-color: #ff0066;
  
  &:hover {
    background-color: #fc1d76;
  }
}