@import './mixins.scss';

.services {
  padding-top: 100px;
  @include respond-to('tablet-large') {
    padding-top: 125px;
  }
  @include respond-to('desktop') {
    margin-top: 125px;
  }
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  @include respond-to('desktop') {
    width: 1000px;
    max-width: 100%;
  }
  @include respond-to('widescreen') {
    margin: 0 250px;
    width: auto;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  margin-top: 100px;
  column-gap: 60px;
}

.icon {
  width: 150px;
  height: 150px;
  background-color: #333;
  margin-bottom: 40px;
}

.subheading {
  font-size: 1.5rem;
}